@import url('https://fonts.googleapis.com/css2?family=Alice&family=Marcellus&display=swap');


* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background: #5c2f2f5a;
    font-family: "Alice", serif;
  }
  .stopwatch{
    width: 90%;
    max-width: 600px;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(images/arkaplan.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px;
    color: #fff;
    margin: 200px auto 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.577);
 }
  .stopwatch h1{
    margin-top: 60px;
    font-size: 70px;
    font-weight: 300;
  }
  .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .buttons img{
    width: 60px;
    margin:0 20px;
    cursor: pointer;
  }
  .buttons img:hover{
    width: 65px;
    transition: transform 0.3s ease-out;  
}
  .buttons img:nth-child(3):hover{
    width: 65px;
    transition: transform 0.3s ease-out; 
    transform: rotate(-45deg); 
}
  .buttons img:nth-child(2){
    width: 100px;
  }
  